{% extends 'employee/base.html' %}

{% block title %}
    {{user.username}}'s Interface
{% endblock %}

{% block content %}

    <div id="content">
        <p> Hello, {{request.user}} </p>
        <p>Welcome to ServerApp</p>
        <div id="account">
            <a href="{% url 'workhome' %} ">Workspace</a>
            <a href="{% url 'inbox' %} ">Inbox</a>
            <a href="{% url 'calendarapp:calendar' %} ">Calendar</a>
            <a href="{% url 'todo:todo' %} ">To-Do</a>

            <a href="{% url 'logout' %}">Logout</a>
        </div> 

    </div>
{% endblock %}