{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Mf+Gd3uq7DroI6UaV6UwR6ZMz7U0vBkOe2Y9AAyA/pRyRFGwOwqxTJ8zimZ3E3FvgOv+lTrgFjs23hUnfL15yQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" type="text/css" href="{% static 'employee/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<title>ServerApp</title>
</head>

<body>

	<h1 class="title">{% block title %}{% endblock %}</h1>
	<hr>	
	{% block content %}
	{% endblock %}
	
	{% block script %}
	{% endblock %}
</body>
</html>