/* Common styles */
body {
    font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

ul {
    height: 100%;
    padding: 5px 5px 0px 20px;
}

.left {
  float: left;
}

.right {
    float: right;
}

.btn {
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    color: #065561;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    margin: 5px;
    cursor: pointer;
}

.icon-btn {
    border-radius: 3px;
    padding: 10px 20px;
    color: #065561;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    margin: 3px;
    cursor: pointer;
}

.clearfix {
    margin: 15px;
}

.form {
    margin: auto;
}

.form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #065561;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}

.content {
    margin: 20px;
}

/* The side navigation menu */
.sidebar {
    width: 90px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #065561;
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 120px;
    height: 100%;
}
